body{
    margin:0;
    padding:0;
    background-color: #e8f5ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.left-li{
    float: left;
}

.search-input{
    border-radius: 20px;
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

.search-button{
    margin: 13px 0px;
}

.search-type{
    margin: 14px 15px;
}

.right-li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    cursor: pointer;
}

#chart_div_1{
    width: 90%;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#piechart{
    text-align: center;
}

#piechart1{
    width: 45%;
    height: 400px;
    border: 2px solid black;
    box-sizing: border-box;
    display: inline-block;
}

#piechart2{
    width: 45%;
    height: 400px;
    border: 2px solid black;
    box-sizing: border-box;
    display: inline-block;
}

#graphchart1{
    width: 90%;
    height: 400px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#graphchart2{
    width: 90%;
    height: 400px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#chart_div_2{
    width: 90%;
    height: 800px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#chart_div_3{
    width: 90%;
    height: 600px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#my_div_1{
    width: 80%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 5%;
    text-align: center;
}