body{
    margin:0;
    padding:0;
    background-color: #e8f5ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.left-li{
    float: left;
}

.right-li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    cursor: pointer;
}
.changepassword-form{
    width:300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0,3);
    background: transparent;
    padding: 20px;
    margin:8% auto 0;
    margin-top: 50px;
    text-align: center;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

.error{
    color: rgba(255, 0, 0, 0.8); 
    display: none;
}

.form-error{
    font-size: 12px !important;
    margin: 0px;
    color: rgba(255, 0, 0, 0.8); 
    display: none;
}